on: [pull_request, push]
jobs:
  prek:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Run gitlint
        uses: j178/prek-action@v1.0.11
        with:
          extra-args: "--hook-stage manual gitlint-ci"
      - name: Run prek
        uses: j178/prek-action@v1.0.11
